{% extends 'base.html.twig' %}
{% block title %} Tienda DWCS {% endblock %}

{% block body %}


<h2>{{texto }} </h2>

<table>
    <thead>
        <tr>
            <th>Fruta</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for oferta in ofertas %}
            <tr>
                <td>{{ oferta.fruta }}</td>
                <td>{{ oferta.precio }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}